xsd/xsd I/ejercicio2/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="prueba">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="puertaCerrada" type="xs:boolean" default="false"></xs:element>
                <xs:element name="ventanaAbierta" type="xs:boolean" default="true"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>