xsd/xsd II/ejercicio2/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mensajes">
        <xs:complexType>
            <xs:choice>
                <xs:element name="correo"></xs:element>
                <xs:element name="sms">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="160"></xs:maxLength>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>